html,
body {
    padding: 0;
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tldraw {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.p-md {
    padding: 12px;
}

.flex {
    display: flex;
    color: aliceblue;
}

.space-between {
    justify-content: space-between;
}

.color-dodgerblue {
    color: dodgerblue;
}

.absolute {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 40px;
}
.tldraw.custom-theme .tl-canvas,
.tldraw.custom-theme .tl-canvas-container,
.tldraw.custom-theme .tl-background {
    background: #101011 !important; /* тёмный холст */
}
/* Кнопка Image
#TD-PrimaryTools-Image,
button[id*="TD-PrimaryTools-Image"],
.tldraw button[data-tool*="image"],
.tldraw button[aria-label*="Image"],
.tldraw button[title*="Image"],
.tldraw .c-eyvddw:has(svg path[d*="M2.5 1H12.5"]) {  /* SVG path из твоего HTML для image
  display: none !important;
}*/
/* Убираем кнопку "?" / Help иконку полностью */
.tldraw .c-yILjc,
.tldraw button[aria-controls^="radix-"][aria-haspopup="dialog"],
.tldraw button:has(svg path[d*="M5.07505 4.10001"]) {
    display: none !important;
}
